{
 :paths       ["src"]
 :deps
              {
                 org.clojure/clojure  {:mvn.version "1.9.0"}
                 net.java.dev.jna/jna {:mvn/version "4.5.2"}
               }
 :extra-paths [
               "/Users/aside/projects/libs/joyconLib/lib/jna-4.0.0.jar"
               "/Users/aside/projects/libs/joyconLib/lib/purejavahidapi.jar"]
 }